.image1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: black;
}
.image2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: black;
}
.image3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: black;
}
.image4{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: black;
}
.image5{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: black;
}
.image6{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: black;
}
.logo-p{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black; 
    background-color: black;
}